#
#       Jordan --> Remove all unncessary files for git/master^
#       Remove: cache and checkpoints
#       11:29 PM

# Remove all data files
output.*
*.feather
*.parquet
*.csv
*.json
*.xml
secret.json
*.json
/.data/
# Remove all log files
*.log

*.py[cod]

# VS Code
.vscode

# notebooks
.ipynb_checkpoints
# database.ini

# PyCharm
.idea

# PyTest Cache
.pytest_cache

# # C extensions
# *.so

# Ignore git hooks and data folder
/.git/
/.data/
/data/

# Nested __pycache__ is not being ignored
__pycache__
/__pycache__/*
/infra/aws/__pycache__
/src/api/__pycache__
/src/common/utilities/__pycache__

# Ignoring notebooks directory
/src/notebooks/