#
#       Jordan --> Remove all unncessary files for git/master^
#       Remove: cache and checkpoints
#       11:29 PM

/__pycache__/
/.git/
/data/

/src/notebooks/

# Remove all data files
output.*
*.feather
*.parquet
*.csv
*.json
*.xml
secret.json
*.json
/.data/
# Remove all log files
*.log

*.py[cod]

# VS Code
.vscode

# notebooks
.ipynb_checkpoints
# database.ini

# PyCharm
.idea

# PyTest Cache
.pytest_cache

# # C extensions
# *.so